{
  "openapi": "3.1.0",
  "info": {
    "title": "Updawg API",
    "description": "The Updawg portal and public REST API.",
    "license": {
      "name": "proprietary"
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.updawg.net",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/auth/logout": {
      "post": {
        "tags": [
          "session"
        ],
        "summary": "`POST /v1/auth/logout`.",
        "description": "Extracting [`CurrentUser`] is what makes this CSRF-protected: without it a\ncross-site page could sign somebody out, which is not a disaster and is\nstill not something anybody else gets to do.",
        "operationId": "auth_logout",
        "responses": {
          "204": {
            "description": "Signed out. Clears the session cookie."
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Refused: no CSRF token or not this session's, or not permitted for this role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/magic-link": {
      "post": {
        "tags": [
          "session"
        ],
        "summary": "`POST /v1/auth/magic-link`.",
        "operationId": "auth_request_magic_link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MagicLinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted. ⚠️ The same answer whether or not the address belongs to anybody — the endpoint must not be usable to ask whether somebody has an account. **202, not 204**: the mail is sent after the answer, and a client that waits for delivery will wait for ever."
          },
          "400": {
            "description": "Not an address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Too many links asked for this address, or from this source. The same for every address, so it says nothing about who has an account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/magic-link/verify": {
      "post": {
        "tags": [
          "session"
        ],
        "summary": "`POST /v1/auth/magic-link/verify`.",
        "operationId": "auth_verify_magic_link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Signed in. Sets the session cookie.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedIn"
                }
              }
            }
          },
          "400": {
            "description": "A body that is not `{\"token\": …}` (DAWG-246).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "The token is unknown, used or expired — one answer for all three, because the caller's next move is the same as if they had never signed in.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "The address's organization requires single sign-on: `sso-required` (DAWG-155).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/oidc/{provider}/callback": {
      "get": {
        "tags": [
          "session"
        ],
        "summary": "`GET /v1/auth/oidc/{provider}/callback`.",
        "operationId": "oidc_callback",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "`github`, `google` or `microsoft`, as configured.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "The authorization code.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Must match the one this side issued.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "error",
            "in": "query",
            "description": "Set when the person declined.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "303": {
            "description": "Redirect back into the portal, signed in or not."
          },
          "400": {
            "description": "A state that was not issued here.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/oidc/{provider}/start": {
      "get": {
        "tags": [
          "session"
        ],
        "summary": "`GET /v1/auth/oidc/{provider}/start`.",
        "operationId": "oidc_start",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "`github`, `google` or `microsoft`, as configured.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "303": {
            "description": "Redirect to the provider."
          },
          "400": {
            "description": "No such sign-in provider.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/providers": {
      "get": {
        "tags": [
          "session"
        ],
        "summary": "`GET /v1/auth/providers`.",
        "operationId": "oidc_providers",
        "responses": {
          "200": {
            "description": "Which external sign-in providers are configured (DAWG-243).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvidersBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sign-up": {
      "post": {
        "tags": [
          "session"
        ],
        "summary": "`POST /v1/auth/sign-up`.",
        "operationId": "auth_sign_up",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignUpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted: a mail is on its way. ⚠️ The same answer whether or not the address already has an account — one that has is sent a sign-in link instead."
          },
          "400": {
            "description": "Not an address, or a name missing or too long.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "The address's domain belongs to an organization that requires single sign-on: `sso-required`. About the domain, not the person (DAWG-155).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Too many links asked for this address, or from this source.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sign-up/verify": {
      "post": {
        "tags": [
          "session"
        ],
        "summary": "`POST /v1/auth/sign-up/verify`.",
        "operationId": "auth_verify_sign_up",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignUpVerifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The account and its organization exist, and this is a session for it. Sets the session cookie.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedIn"
                }
              }
            }
          },
          "400": {
            "description": "A body that is not `{\"token\": …}`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "The token is unknown, used or expired — one answer for all three.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "The address's organization requires single sign-on: `sso-required` (DAWG-155).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sso/callback": {
      "get": {
        "tags": [
          "session"
        ],
        "summary": "`GET /v1/auth/sso/callback`.",
        "operationId": "sso_callback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "The authorization code.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Must match the one this side issued.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "error",
            "in": "query",
            "description": "Set when the provider refused.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "303": {
            "description": "Back into the portal: signed in, or to the sign-in page with `?error=sso_…`."
          }
        }
      }
    },
    "/v1/auth/sso/discover": {
      "get": {
        "tags": [
          "session"
        ],
        "summary": "`GET /v1/auth/sso/discover`.",
        "operationId": "sso_discover",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "The address somebody typed on the sign-in page.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Whether this address's domain signs in through an organization's provider. About the domain, never the person: the answer is the same whether or not the address has an account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SsoDiscoverBody"
                }
              }
            }
          },
          "400": {
            "description": "No `email`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sso/{org}/start": {
      "get": {
        "tags": [
          "session"
        ],
        "summary": "`GET /v1/auth/sso/{org}/start`.",
        "operationId": "sso_start",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "303": {
            "description": "To the organization's provider; or back to the portal's sign-in page with `?error=sso_unavailable` when it has no usable connection."
          }
        }
      }
    },
    "/v1/digests/unsubscribe": {
      "post": {
        "tags": [
          "notifications"
        ],
        "summary": "`POST /v1/digests/unsubscribe`.",
        "operationId": "digest_unsubscribe",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "From the digest's link.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "That digest is off. Nothing else changed."
          },
          "400": {
            "description": "No token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "Not a token, or one older than sixty days.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/invitations/accept": {
      "post": {
        "tags": [
          "organizations"
        ],
        "summary": "`POST /v1/invitations/accept`.",
        "description": "Not under `/orgs/{org}`, because the caller is not in one yet — that is what\nthey are doing. Which organization it is comes from the token.",
        "operationId": "invitations_accept",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Joined.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JoinedBody"
                }
              }
            }
          },
          "400": {
            "description": "The token is unknown, used, expired or for somebody else — one answer for all four.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Refused: no CSRF token or not this session's, or not permitted for this role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "Unknown, expired, already taken up or withdrawn — one answer for all four, so that somebody holding a guess cannot find out which part of it was right.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "409": {
            "description": "⚠️ The invitation is for a different address. The one distinction that is safe to make, because whoever is asking is holding a token that was mailed to that address — and a refusal that does not name it is one nobody can act on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/invitations/join": {
      "post": {
        "tags": [
          "organizations"
        ],
        "summary": "`POST /v1/invitations/join`.",
        "description": "For somebody with no account: makes one for the address the invitation was\nsent to, takes the invitation up, and signs them in.",
        "operationId": "invitations_join",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The account exists, has joined, and this is a session for it. Sets the session cookie.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedIn"
                }
              }
            }
          },
          "400": {
            "description": "No name, or one too long.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Joined, but the address's organization requires single sign-on, so the session starts there instead: `sso-required` (DAWG-155).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "Unknown, expired, already taken up or withdrawn — one answer for all four.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "409": {
            "description": "The invited address already has an account: sign in, then accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "session"
        ],
        "summary": "`GET /v1/me`.",
        "description": "The first call a portal makes, and the one that tells it whether there is a\nsession at all — so an empty `memberships` is a real answer rather than an\nerror. A person who has signed in and belongs to nothing yet is exactly who\nthe \"create an organization\" screen is for.",
        "operationId": "me",
        "responses": {
          "200": {
            "description": "Who is signed in, and the organizations they are in.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs": {
      "post": {
        "tags": [
          "organizations"
        ],
        "summary": "`POST /v1/orgs`.",
        "description": "The creator is the owner, written in the same transaction as the\norganization — otherwise there is an organization nobody can administer and\nwhich does not appear in its own creator's `GET /v1/me`.",
        "operationId": "orgs_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created. The caller becomes its owner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgBody"
                }
              }
            }
          },
          "400": {
            "description": "A name or slug that will not do.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Refused: no CSRF token or not this session's, or not permitted for this role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "409": {
            "description": "That slug is taken (`slug-taken`), or the caller already owns an organization (`organization-limit`): one per person.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}": {
      "get": {
        "tags": [
          "organizations"
        ],
        "summary": "`GET /v1/orgs/{org}`.",
        "description": "Any member may read it. There is no `ReadFleet`-less role.\n\nAll of the work happened in the [`Member`] extractor, which is the point:\nthe organization is not looked up here because it cannot be reached without\nhaving been resolved and authorized already.",
        "operationId": "orgs_show",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours — one answer for both.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "organizations"
        ],
        "summary": "`PATCH /v1/orgs/{org}`.",
        "operationId": "orgs_update",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgBody"
                }
              }
            }
          },
          "400": {
            "description": "A name or slug that will not do, or a stale threshold, EOL lead time or audit retention out of range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted for this role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours — one answer for both.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "409": {
            "description": "That slug is taken.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/advisories": {
      "get": {
        "tags": [
          "advisories"
        ],
        "summary": "`GET /v1/orgs/{org}/advisories` (DAWG-288).",
        "operationId": "advisories_list",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "severity",
            "in": "query",
            "description": "Repeatable: `none`, `low`, `medium`, `high`, `critical`, or `unrated` for those nobody rated.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "known_exploited",
            "in": "query",
            "description": "`true`: only advisories with a CVE in CISA's Known Exploited Vulnerabilities.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "unfixable",
            "in": "query",
            "description": "`true`: only advisories some exposed host has no available fix for.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Every advisory affecting at least one host, known-exploited first, then worst, then widest.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvisoryListBody"
                }
              }
            }
          },
          "400": {
            "description": "A filter that cannot be honoured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/advisories/{advisory_id}/hosts": {
      "get": {
        "tags": [
          "advisories"
        ],
        "summary": "`GET /v1/orgs/{org}/advisories/{advisory_id}/hosts` (DAWG-288).",
        "operationId": "advisories_hosts",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advisory_id",
            "in": "path",
            "description": "The advisory's id, as the list gives it.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The hosts it reaches, unfixable first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvisoryHostsBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or no such advisory **here**: one that reaches none of this organization's hosts is not found, whether or not it exists elsewhere.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/agent-releases": {
      "get": {
        "tags": [
          "hosts"
        ],
        "summary": "Which agent build each release channel holds (DAWG-46), for comparing\nwith a host's `agent_version`. The channels are Updawg's and the same for\nevery organization; this is under one only so that it asks for a session\nlike everything else here. Empty until the worker has read a manifest.",
        "operationId": "hosts_agent_releases",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stable first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentReleaseBody"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/api-tokens": {
      "get": {
        "tags": [
          "api-tokens"
        ],
        "summary": "`GET /v1/orgs/{org}/api-tokens`.",
        "operationId": "api_tokens_list",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Every token, newest first, revoked ones included.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiTokenBody"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted for this role, or asked with an API token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours — one answer for both.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "api-tokens"
        ],
        "summary": "`POST /v1/orgs/{org}/api-tokens`.",
        "operationId": "api_tokens_create",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Issued. ⚠️ `token` is in this response and never again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedApiTokenBody"
                }
              }
            }
          },
          "400": {
            "description": "No name, no scopes, a scope that is not one or that your role cannot grant, or an expiry in the past.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted for this role, or asked with an API token. Or the plan is not Business or Enterprise: `plan-required`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours — one answer for both.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/api-tokens/{api_token_id}": {
      "delete": {
        "tags": [
          "api-tokens"
        ],
        "summary": "`DELETE /v1/orgs/{org}/api-tokens/{api_token_id}`.",
        "operationId": "api_tokens_revoke",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_token_id",
            "in": "path",
            "description": "The `atk_…` id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked. It is refused from the next request on."
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted for this role, or asked with an API token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such token here, or already revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/audit-log": {
      "get": {
        "tags": [
          "audit"
        ],
        "operationId": "audit_log_list",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "Only this action, exactly: `host.decommissioned`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "The `next` of the previous page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of the audit log, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditPageBody"
                }
              }
            }
          },
          "400": {
            "description": "An unknown parameter, a repeated one, or a cursor that does not parse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted for this role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/audit-log/export": {
      "get": {
        "tags": [
          "audit"
        ],
        "summary": "`GET /v1/orgs/{org}/audit-log/export`.",
        "operationId": "audit_log_export",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "`csv` or `json`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "Only this action, exactly.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Entries at or after this (RFC 3339).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Entries before this (RFC 3339).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The log, newest first, as a download: CSV with metadata as a JSON column, or a JSON array of entries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditEntryBody"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "An unknown or repeated parameter, a format other than `csv` or `json`, a time that does not parse, or more entries than one export holds — narrow `since` and `until`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted for this role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/billing": {
      "get": {
        "tags": [
          "billing"
        ],
        "summary": "`GET /v1/orgs/{org}/billing`.",
        "operationId": "billing_show",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The plan, and the subscription if there is one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Only an owner manages billing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/billing/checkout": {
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "`POST /v1/orgs/{org}/billing/checkout`.",
        "operationId": "billing_checkout",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Where to send the person to pay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutBody"
                }
              }
            }
          },
          "400": {
            "description": "Not a plan sold through checkout: `team`, `business` or `enterprise`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Only an owner, in person, manages billing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "409": {
            "description": "Already subscribed (`already-subscribed`), or on Enterprise by contract with no subscription (`enterprise-contract`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "503": {
            "description": "This deployment takes no payments (`billing-unavailable`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/billing/plan": {
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "`POST /v1/orgs/{org}/billing/plan` (DAWG-145): move a live subscription\nbetween Team, Business and Enterprise.",
        "description": "Asks Stripe to swap the price, with the days so far billed at the old\nplan's rate; the organization's plan changes when Stripe's webhook says\nthe subscription has, as it does for a new one. Starting a subscription is\ncheckout's, and ending one the customer portal's.",
        "operationId": "billing_change_plan",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Asked of Stripe; the plan changes when its webhook arrives."
          },
          "400": {
            "description": "Not `team`, `business` or `enterprise`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Only an owner, in person, manages billing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "409": {
            "description": "No live subscription to change (`no-subscription`), or already on that plan (`same-plan`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "503": {
            "description": "This deployment takes no payments (`billing-unavailable`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/billing/portal": {
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "`POST /v1/orgs/{org}/billing/portal` (DAWG-144, DAWG-145).",
        "description": "Stripe's customer portal, configured for Updawg: invoices to download, the\ncard to change, and cancelling, which takes effect at the end of the\nperiod. Changing plan is not offered there; the plans share one meter.",
        "operationId": "billing_portal",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Where to send the person.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Only an owner, in person, manages billing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "409": {
            "description": "This organization has never been a Stripe customer (`no-customer`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "503": {
            "description": "This deployment takes no payments (`billing-unavailable`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/billing/usage": {
      "get": {
        "tags": [
          "billing"
        ],
        "summary": "`GET /v1/orgs/{org}/billing/usage` (DAWG-144).",
        "operationId": "billing_usage",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "`YYYY-MM`, UTC. This month when absent.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Active hosts per day for the month.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageBody"
                }
              }
            }
          },
          "400": {
            "description": "`month` is not `YYYY-MM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Only an owner manages billing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/compliance/export": {
      "get": {
        "tags": [
          "compliance"
        ],
        "summary": "`GET /v1/orgs/{org}/compliance/export`.",
        "operationId": "compliance_export",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "description": "`hosts`: every host's standing now, one row each. `resolutions`: every exposure that ended in the period, with its latency.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Start of the period, for `resolutions` (RFC 3339). Default: 90 days before `until`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "End of the period, exclusive. Default: now.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "Only the hosts this group (`grp_…`) resolves to now.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A CSV download.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "An unknown or repeated parameter, a dataset other than `hosts` or `resolutions`, a bad period or group, or more resolutions than one export holds — narrow the period.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted for this role. Or the plan does not include compliance reports (Business): `plan-required`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/compliance/report": {
      "get": {
        "tags": [
          "compliance"
        ],
        "summary": "`GET /v1/orgs/{org}/compliance/report`.",
        "operationId": "compliance_report",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Start of the patch-latency period (RFC 3339). Default: 90 days before `until`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "End of the period, exclusive. Default: now.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "Only the hosts this group (`grp_…`) resolves to now.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patch latency over the period, and the fleet's standing now.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComplianceReportBody"
                }
              }
            }
          },
          "400": {
            "description": "An unknown or repeated parameter, a time that does not parse, a period that is backwards or longer than 400 days, or a group that is not here.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted for this role. Or the plan does not include compliance reports (Business): `plan-required`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/compliance/targets": {
      "get": {
        "tags": [
          "compliance"
        ],
        "summary": "`GET /v1/orgs/{org}/compliance/targets`.",
        "operationId": "compliance_targets_show",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Days to patch a fixable exposure, per severity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchTargetsBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted for this role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "compliance"
        ],
        "summary": "`PUT /v1/orgs/{org}/compliance/targets`.",
        "operationId": "compliance_targets_set",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchTargetsBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Set. Audited as `organization.patch_targets_changed`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchTargetsBody"
                }
              }
            }
          },
          "400": {
            "description": "A target outside 1 to 365 days.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted for this role, or no CSRF token. Or the plan does not include compliance reports (Business): `plan-required`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/digest": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "`GET /v1/orgs/{org}/digest`.",
        "operationId": "digest_show",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "How often you get this organization's digest.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DigestBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours — one answer for both.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "notifications"
        ],
        "summary": "`PUT /v1/orgs/{org}/digest`.",
        "operationId": "digest_set",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DigestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DigestBody"
                }
              }
            }
          },
          "400": {
            "description": "Not `off`, `daily` or `weekly`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "No CSRF token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours — one answer for both.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/enrollment-tokens": {
      "get": {
        "tags": [
          "enrollment"
        ],
        "summary": "`GET /v1/orgs/{org}/enrollment-tokens`.",
        "operationId": "enrollment_tokens_list",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Every token, newest first, revoked and used-up ones included — the list is also the answer to \"what could have enrolled that host\".",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TokenBody"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted for this role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours — one answer for both.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "enrollment"
        ],
        "summary": "`POST /v1/orgs/{org}/enrollment-tokens`.",
        "operationId": "enrollment_tokens_create",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Issued. ⚠️ `token` is in this response and never again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedTokenBody"
                }
              }
            }
          },
          "400": {
            "description": "No name, a limit below one, an expiry in the past, or labels that are not a small map of non-empty keys.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted for this role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours — one answer for both.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/enrollment-tokens/{token_id}": {
      "delete": {
        "tags": [
          "enrollment"
        ],
        "summary": "`DELETE /v1/orgs/{org}/enrollment-tokens/{token_id}`.",
        "operationId": "enrollment_tokens_revoke",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token_id",
            "in": "path",
            "description": "The `etk_…` id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked. Hosts it already enrolled are unaffected."
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted for this role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such token here, or already revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/events": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "`GET /v1/orgs/{org}/events`.",
        "operationId": "events_stream",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server-Sent Events: `ready` first, then `change` (`{\"kind\", \"id\", \"proposal\"}`) and `resync`. Hints to refetch, never data. Ends after fifteen minutes; reconnect.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours — one answer for both.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/groups": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "`GET /v1/orgs/{org}/groups`.",
        "operationId": "groups_list",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Every group, by name.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HostGroupBody"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours — one answer for both.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "groups"
        ],
        "summary": "`POST /v1/orgs/{org}/groups`.",
        "operationId": "groups_create",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostGroupBody"
                }
              }
            }
          },
          "400": {
            "description": "No name, or a selector that is empty or has an empty key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted for this role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such organization, or not yours — one answer for both.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "409": {
            "description": "A group with that name exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/groups/{group_id}": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "`GET /v1/orgs/{org}/groups/{group_id}`.",
        "operationId": "groups_show",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The `grp_…` id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The group and every host it resolves to, and why.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupDetailBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such group here.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "groups"
        ],
        "summary": "`DELETE /v1/orgs/{org}/groups/{group_id}`.",
        "operationId": "groups_delete",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The `grp_…` id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted. Its hosts are untouched; what pointed at it is listed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedGroupBody"
                }
              }
            }
          },
          "401": {
            "description": "No session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted for this role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "404": {
            "description": "No such group here.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          },
          "429": {
            "description": "Over the organization's request limit. `Retry-After` says when to try again; `RateLimit-Limit` is the burst.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemBody"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "groups"
        ],
        "summary": "`PATCH /v1/orgs/{org}/groups/{group_id}`.",
        "operationId": "groups_update",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization slug.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The `grp_…` id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGroupRequest"
              }
            }
          },
[...]
